body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
}

.footer-container {
  bottom: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  text-align: center;
  padding: 10px 0 5px 0;
}

.footer-container > a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}
